@model IEnumerable<Real_Estate.Models.RealEstateObject>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Agent.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode.ZipCodes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contract)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstateType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sqm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOnMarket)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Agent.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode.ZipCodes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contract)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstateType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sqm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOnMarket)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RealEstateObjectID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RealEstateObjectID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RealEstateObjectID })
        </td>
    </tr>
}

</table>
